@media screen and (min-width: 768px) and (max-width: 920px) {

    header {
        height: 126px;
    }

    #top-caption > header > #logo {
        position: absolute;
        top: 50%;
        left: 2%;
        width: 150px;
        display: inline-block;
        margin: 0;
        padding: 0;

        transform: translateY(-50%);
    }

    #top-caption > header #burguer {
        display: none;
    }

    #top-caption > header > menu {
        position: absolute;
        right: 10%;
        display: inline-block;
    }

    #top-caption > header > menu > ul > li {
        border-bottom: none;
        display: inline;
    }

    #top-caption > header > menu > ul > li > a {
        float: left;
    }
    
}